{{#portal-content for="header"}}
  <li>
    {{link-to model.name "project" model
      class="authenticated__header-nav-link"
      activeClass="authenticated__header-nav-link--active"}}</li>
{{/portal-content}}

{{#drop-zone on-drop="addFiles" class="project__drop-zone"}}
  <table>
    <tbody>
      {{#group-by-week-and-tag items=model.artefacts as |weeks|}}
        {{#each weeks key="id" as |week|}}
          <tr>
            <th>
              Week: {{moment-format week.date "D MMM YYYY"}}
            </th>
          </tr>
          <tr>
            {{#each week.tags key="name" as |tag|}}
              <th>
                {{tag.name}}
              </th>
            {{/each}}
          </tr>
          <tr>
            {{#each week.tags key="name" as |tag|}}
              <td>
                {{#each tag.items as |item|}}
                  {{artefact-thumb
                     artefact=item
                     on-view="viewArtefact"
                     on-save="saveArtefact"
                     on-rollback="rollbackArtefact"
                     on-remove="removeArtefact"}}
                {{/each}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      {{/group-by-week-and-tag}}
    </tbody>
  </table>
{{/drop-zone}}

{{outlet}}
